body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #444;
}
.login-container {
  display: flex;
  width: 80%;
  max-width: 800px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.login-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 20px;
}
.login-logo {
  max-width: 100%;
  height: auto;
}
.login-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-title {
  color: #333;
  margin-bottom: 20px;
}

.login-with-google-btn {
  background-color: #4285f4;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.login-with-google-btn:hover {
  background-color: #357ae8;
}

.login-with-google-btn:active {
  background-color: #2a65c7;
}
.login-with-google-btn img {
  width: 40px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  background-color: #fff;
}
@media (max-width: 768px) {
      .login-container{
        flex-direction: column;
      }
      .login-container span{
        font-size: 14px;
        font-weight: 500;
      }
      .login-with-google-btn{
        padding: 8px 15px;
      }
      .login-with-google-btn img{
        width: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      }
}